<div class="main_container">
  <h1>Найди рецепт блюда по ингридиенту, который имеется у тебя в холодильнике:</h1>
  <form class="senter_form" action="" name="findFood">
    <input
      name="title"
      type="text"
      id="ingridient"
      placeholder="введите ингридиент"
    />
    <button type="submit">Найти рецепты</button>
  </form>

  <div id="receptions" class="receptionsa">

    {{! <div class="wrapper_resep">
    
  </div> }}
  </div>
</div>

<script defer src="/js/script.js"></script>
